<% if object_id %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(object_id, "error") %>.
    </div>
    <ul>
    <% object_id.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
